---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.

<h2>First-authored Publications</h2>
{% assign first_author = site.publications | where_exp:"item","item.first_author" | sort: "number" | reverse %}
{% for post in first_author %}
  <div class="publication-item">
    {{ post.content }}
  </div>
{% endfor %}

<h2>Co-authored Publications</h2>
{% assign co_author = site.publications | where_exp:"item","item.first_author != true" | sort: "number" | reverse %}
{% for post in co_author %}
  <div class="publication-item">
    {{ post.content }}
  </div>
{% endfor %}



