---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<h2>First-authored Publications</h2>
{% assign first_author = site.publications | where_exp:"item","item.title contains '[13]' or item.title contains '[12]' or item.title contains '[11]' or item.title contains '[10]' or item.title contains '[9]' or item.title contains '[8]' or item.title contains '[7]' or item.title contains '[6]'" | sort: "title" | reverse %}
{% for post in first_author %}
  {% include archive-single.html %}
{% endfor %}

<h2>Co-authored Publications</h2>
{% assign co_author = site.publications | where_exp:"item","item.title contains '[5]' or item.title contains '[4]' or item.title contains '[3]' or item.title contains '[2]' or item.title contains '[1]'" | sort: "title" | reverse %}
{% for post in co_author %}
  {% include archive-single.html %}
{% endfor %}



